doctype html
head 
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title Validar QR Comprobantes electronicos
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

  script(src='https://code.jquery.com/jquery-3.5.1.min.js')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js')
  script(type='text/javascript').
    window.history.pushState("", "", '/');

.container
  .card
    .card-header.bg-info.text-center.text-white 
      h1 Validar QR de Comprobantes Electronicos
    .card-body.bg-light 
      .container-fluid 
        form(action='api/qr/validate' method='post')
          .small.text-secondary Copiar la URL leyendo el QR desde la camara del celular o instalar una extension (QR Reader) para el navegador  
          .form-group
            input.form-control(type='text', name='url' placeholder='Pegar Link del QR' required='required')              
          .form-group 
            .list-group.list-group-horizontal 
              .list-group-item-light
                button.btn.btn-light(onclick='window.location.reload()' type='reset') Limpiar  
              .list-group-item-light  
                button.btn.btn-primary(type='submit') Validar

  
      .container
        if errors.message
          .card.bg-light.text-danger.text-center  
            = errors.message
        if message.data
          if message.data.resp_result === 'R'
            .card.bg-light.text-danger.text-center Rechazado. Verificar:
             .table-responsive
               table.table
                tr
                 if message.data.resp_observations
                   each val, key in JSON.parse(message.data.resp_observations)  
                    td
                    .text-left.text-danger 
                      = key + ':' + val
                 if message.data.resp_errors
                   each val, key in JSON.parse(message.data.resp_errors)  
                    td
                    .text-left.text-danger 
                      = key + ':' + val    
               table.table
                tr
                  if message.data.json_url_data
                    each val, key in JSON.parse(message.data.json_url_data)
                      if key === 'fecha'
                       tr
                          .text-left.text-secondary
                           = "Fecha del Comprobante: "+ val
                      if key === 'cuit'
                       tr
                         .text-left.text-secondary
                          = "CUIT Emisor: "+ val    
                      if key === 'importe'
                       tr
                         .text-left.text-secondary
                          = "Importe: "+ val
                      if key === 'codAut'
                       tr
                         .text-left.text-secondary
                          = "Codigo de Autorizacion: "+ val 
          if message.data.resp_result === 'A'
            .card.bg-light.text-success.text-center Comprobante aceptado por la AFIP
             .table-responsive
               table.table
                tr
                 if message.data.json_url_data
                   each val, key in JSON.parse(message.data.json_url_data)
                     if key === 'fecha'
                       tr
                         .text-left.text-secondary
                          = "Fecha del Comprobante: "+ val
                     if key === 'cuit'
                       tr
                         .text-left.text-secondary
                          = "CUIT Emisor: "+ val    
                     if key === 'importe'
                       tr
                         .text-left.text-secondary
                          = "Importe: "+ val
                     if key === 'codAut'
                       tr
                         .text-left.text-secondary
                          = "Codigo de Autorizacion: "+ val          
          if message.data.json_url_data 
            .card.bg-light
             .text-center.text-secondary JSON de la URL decodificada:
             .text-left.text-secondary
               = message.data.json_url_data
          if message.data.json_string 
            .card.bg-light
             .text-center.text-secondary JSON de la URL decodificada:
             .text-left.text-secondary
               = message.data.json_string
    .card-footer.bg-light 
      .text-body Sitios de Interes
      li 
        a.small(href='https://www.afip.gob.ar/fe/qr/especificaciones.asp' target="_blank") AFIP - Especificaciones QR
      li 
        a.small(href='https://www.afip.gob.ar/ws/programadores/web-services-SOAP.asp' target="_blank") AFIP - SOAP Web Services
      li  
        a.small(href='https://www.afip.gob.ar/ws/documentacion/arquitectura-general.asp' target="_blank") AFIP - SOAP Documentacion
      li
        a.small(href='https://www.afip.gob.ar/ws/WSCDCV1/WSCDC_manual_desarrollador_v.2.pdf' target="_blank") AFIP - Manual para el desarrollador (Servicio Constatacion de Comprobantes)
      
    .card-footer.bg-light  
      .text-body
      .text-center
       a.small(href='https://yacardev.github.io/' target="_blank") Desarrollado por YacarDev


  
